@media all and (max-width: 1750px){

	#portfolio{
		height: 650px;
	}

	#slider1{
		width: 572px;
		margin-top: 60px;
	}

	#portfolio .bx-viewport {
	    height: 422px !important;
	}

	figure {
	  left: 195px;
	}

	#aboutmeContent{
		margin-left: 15px;
	}
		
	#aboutme .heading{
		margin-right: 5px;
	}

	#cooperate{
		height: 650px;
	}

	#slider2{
		width: 572px;
		margin-top: 70px;
		margin-right: 20%;
	}

	#slider2 img{
    	height: 412.5px;
	}
	
	#cooperate .bx-viewport {
	    height: 413px !important;
	}
	
	#cooperate .heading{
		margin-right: 100px;
	}

	#cooperate-btn figure { 
    	left: 195px;
	}

	.advantage:nth-of-type(1){
		margin-left: 70px;
	}

	.advantage:nth-of-type(2){
		margin-right: 25%;
	}

	.advantage:nth-of-type(3){
		margin-left: 70px;
	}

	.advantage{
		flex-basis: 24%;
	}

	#advantages .heading{
		margin-right: 20px;
	}
}

@media all and (max-width: 1400px){
	.icon-bar{
		transform: scale(0.8);
		top: 5%;
		right: -10px;
	}

	.navbar a {
		font-size: 16px;
	}

	#main{
		height: 600px;
	}

	#squares{
		top: 10%;
	}

	#squares .square{	
		border: 11px solid #90D0F3;
	}

	#squares div:first-child{
		width: 220px;
		height: 220px;
	}

	#squares div:nth-child(2){
		width: 310px;
		height: 310px;
    	top: 80px;
    	left: 110px;
	}

	#squares div:nth-child(3){
		width: 220px;
		height: 220px;
		left: 315px;
		top: 250px;
	}

	#squares div.flower{
		left: 15px;
   		top: 0px;
	}

	.flower img{
		width: 500px;
	}

	#quotation {
	    bottom: 20px;
	}

	#quotation p{
		padding: 15px;
		font-size: 16px;
	}

	#quotation cite{
		padding: 15px;
		font-size: 16px;
	}

	#slider1{
		width: 546px;
	}

	#portfolio .bx-viewport {
    	height: 402px !important;
	}

	figure {
	  left: 175px;
	}

	#portfolio .heading, #cooperate .heading{
		margin-right: 105px;
	}

	#portfolio .heading h2:before{	
	    right: 195%;  
	}

	.heading h2 {
	    font-size: 22px;
	}

	#aboutme .heading, #advantages .heading{
	    margin-right: -30px;
	}

	#aboutme{
		height: 600px;
	}

	.contentItem{
		font-size: 22px;
	}

	#aboutmeContent{
		margin-left: 0px;
	}

	#aboutmeContent h3{
		font-size: 27px;
	}

	#aboutme .heading h2:before{
    	right: 190%;  
	}

	#slider2{
		width: 545px;
	}

	#cooperate-btn figure {
    	left: 185px;
	}

	#cooperate .heading h2:before{	
    	right: 255%;  
	}

	footer .flex-container{
		width: 936px;
	}
}

@media all and (max-width: 1200px){
	.flex-container{
		width: 936px;
	}

	#head, #main, #portfolio, #aboutme, #cooperate, #advantages, footer{
		width: 100%;
	}

	#portfolio .heading, #cooperate .heading{
		margin-right: 75px;
	}

	.navbar a {
		font-size: 15px;
	}

	#squares{
		top: 10%;
	}

	#squares .square{	
		border: 11px solid #90D0F3;
	}

	#squares div:first-child{
		width: 190px;
		height: 190px;
	}

	#squares div:nth-child(2){
		width: 270px;
		height: 270px;
    	top: 80px;
    	left: 110px;
	}

	#squares div:nth-child(3){
		width: 190px;
		height: 190px;
		left: 315px;
		top: 250px;
	}

	#squares div.flower{
		left: 15px;
   		top: 0px;
	}

	.flower img{
		width: 450px;
	}

	#quotation {
	    bottom: 20px;
	}

	#quotation p{
		padding: 15px;
		font-size: 16px;
	}

	#quotation cite{
		padding: 15px;
		font-size: 16px;
	}

	#portfolio{
		height: 550px;
	}

	#slider1{
		width: 455px;
		margin-right: 26%;
	}

	#portfolio .bx-viewport {
    	height: 334px !important;
	}

	figure {
	  left: 135px;
	}

	.bx-wrapper .bx-caption span {
		padding: 14px;
	}

	#aboutmeContent{
		width: 630px;
	}

	#slider2{
		width: 522px;
	}

	#cooperate-btn figure {
    	left: 173px;
	}

	#block-advantages{
		flex-basis: 72%;
	}			
}

@media all and (max-width: 1024px){
	.flex-container{
		width: 819px;
	}

	#logo {
	    width: 60px;
	}

	#main{
		height: 550px;
	}

	.navbar a {
		font-size: 14px;
		border-bottom: 2px solid transparent;
	}

	.navbar a:hover {
		border-bottom: 2px solid white;
	}

	.navbar a.active {
		border-bottom: 2px solid white;
	}

	.icon-bar{
		transform: scale(0.7);
	}

	#squares{
		top: 8%;
	}

	#squares .square{	
		border: 10px solid #90D0F3;
	}

	#squares div:first-child{
		width: 165px;
		height: 165px;
	}

	#squares div:nth-child(2){
		width: 235px;
		height: 235px;
    	top: 70px;
    	left: 90px;
	}

	#squares div:nth-child(3){
		width: 165px;
		height: 165px;
		left: 265px;
		top: 220px;
	}

	#squares .square .littleSquare{
		width: 28px;
		height: 28px;	
	}

	.flower img{
		width: 410px;
	}

	#quotation {
	    bottom: 20px;
	}

	#quotation p{
		font-size: 14px;
	}

	#quotation cite{
		font-size: 14px;
	}

	.heading h2 {
	    font-size: 20px;
	}

	#portfolio{
		height: 520px;
	}

	#slider1{
		width: 400px;
		margin-right: 36%;
	}


	#portfolio .bx-viewport {
    	height: 293px !important;
	}

	figure {
	  left: 105px;
	  transform: scale(0.8);
	}

	.bx-wrapper .bx-caption span {
		padding: 13px;
	}

	#portfolio .heading{
		margin-right: 75px;
	}

	#aboutme .heading, #advantages .heading {
	    margin-right: 30px;
	}

	#cooperate .heading{
		margin-right: 80px;
	}

	#aboutme div.flex-container{
		background: linear-gradient(90deg, #595959 70%, #8FD0F2 30%);
	}

	#aboutmeContent{
		width: 540px;
		margin-right: 28%;
	}

	#aboutmeContent .contentItem{
		font-size: 20px;
	}

	#aboutmeContent h3 {
	    font-size: 25px;
	}

	#slider2{
		width: 457px;
		margin-top: 80px;
		margin-right: 31%;
	}

	#slider2 img{
		width: 457px;
		height: 412.5px;
	}

	#cooperate-btn figure {
    	left: 143px;
	}
}

@media all and (max-width: 900px){
	
}

@media all and (max-width: 768px){

}

@media all and (max-width: 600px){
	
}

@media all and (max-width: 480px){

}

@media all and (max-width: 320px){
	
}


