@media all and (max-width: 1750px){

	#portfolio{
		height: 650px;
	}

	#slider1{
		width: 572px;
		margin-top: 60px;
	}


	#portfolio .bx-viewport {
	    height: 422px !important;
	}

	figure {
	  left: 195px;
	}

	#aboutmeContent{
		margin-left: 80px;
	}

	#cooperate{
		height: 650px;
	}

	#cooperate div.flex-container{
		justify-content: space-between;
	}

	#slider2{
		width: 572px;
		margin-top: 70px;
		margin-right: 20%;
	}

	#cooperate .bx-viewport {
	    height: 413px !important;
	}

	.advantage:nth-of-type(1){
		margin-left: 100px;
	}

	.advantage:nth-of-type(2){
		margin-right: 25%;
	}

	.advantage:nth-of-type(3){
		margin-left: 100px;
	}

	.advantage{
		flex-basis: 24%;
	}
}

@media all and (max-width: 1400px){
	.navbar a {
		font-size: 16px;
	}

	#main{
		height: 600px;
	}

	#squares{
		top: 10%;
	}

	#squares .square{	
		border: 11px solid #90D0F3;
	}

	#squares div:first-child{
		width: 220px;
		height: 220px;
	}

	#squares div:nth-child(2){
		width: 310px;
		height: 310px;
    	top: 80px;
    	left: 110px;
	}

	#squares div:nth-child(3){
		width: 220px;
		height: 220px;
		left: 315px;
		top: 250px;
	}

	#squares div.flower{
		left: 15px;
   		top: 0px;
	}

	.flower img{
		width: 500px;
	}

	#quotation {
	    bottom: 20px;
	}

	#quotation p{
		padding: 15px;
		font-size: 16px;
	}

	#quotation cite{
		padding: 15px;
		font-size: 16px;
	}

	#aboutmeContent{
		margin-left: 100px;
	}

	#aboutme{
		height: 600px;
	}

	.contentItem{
		font-size: 22px;
	}

	#aboutmeContent h3{
		font-size: 27px;
	}
}

@media all and (max-width: 1200px){
	
}

@media all and (max-width: 1024px){
	
}

@media all and (max-width: 900px){
	
}

@media all and (max-width: 768px){

}

@media all and (max-width: 600px){
	
}

@media all and (max-width: 480px){

}

@media all and (max-width: 320px){

}


