* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#head{
	background: linear-gradient(90deg, #595959 68.45%, #8FD0F2 31.55%);
}

.flex-container{
	width: 1170px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#head .flex-container{
	background: linear-gradient(90deg, #595959 80%, #8FD0F2 20%);	
}

#top-logo{
	flex-basis: 15%;
	align-content: center;
	height: 80px;
}

#logo{
    width: 70px;
    margin: 10px;
}

/* Style the navigation menu */
.navbar {
	flex-basis: 80%;
	display: flex;
}

/* Navigation links */
.navbar a {
	flex-basis: 25%;
	display: flex;
	flex-direction: column; /* This is to align text inside flex item! */
	justify-content: center; /* This is to align text inside flex item! */
	text-align: center; /* This is to align text inside flex item! */
	color: white;
	text-decoration: none;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 3px solid transparent;
}

.navbar a:hover {
	border-bottom: 3px solid white;
}

/* Style the current/active link */
.navbar a.active {
	border-bottom: 3px solid white;
}

/************************** Sticky sidebar with social media and contacts */

.icon-bar {
  position: fixed;
  right: 0px;
  z-index: 9999;
  padding: 20px;
  opacity: 0.9;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.social-item{
	display: block;
	width: 60px;
	height: 60px;
	margin-bottom: 10px;
	border-radius: 50%;
	background-color: #fff;
	background-image: url('../img/css-sprite.png');
	background-repeat: no-repeat;	
}

.social-item a{
	display: block;
	width: 100%;
	height: 100%;
}

.email{
	background-position: -359px -6px;
}

.phone {
    background-position: -272px -5px;
}

.instagram {
    background-position: -185px -6px;
}

.viber {
    background-position: -97px -8px;
}

.linkedin {
    background-position: -13px -7px;
}

.facebook {
    background-position: -441px -6px;
}

.email:hover{
	background-position: -359px -84px;
}

.phone:hover{
	background-position: -272px -83px;
}

.instagram:hover{
	background-position: -185px -84px;
}

.viber:hover{
	background-position: -97px -85px;
}

.linkedin:hover{
	background-position: -13px -85px;
}

.facebook:hover{
	background-position: -441px -83px;
}

/************************** MAIN */
#main{
	height: 800px;
	background: linear-gradient(90deg, #595959 68.45%, #8FD0F2 31.55%);
}

#main .flex-container{
	height: 100%;
	position: relative;
	background: linear-gradient(90deg, #595959 80%, #8FD0F2 20%);
}

#squares{
	width: 50%;
	height: 65%;
	position: absolute;
	left: 20%;
	top: 20%;
}

#squares .square{	
	border: 12px solid #90D0F3;
	position: absolute;
}

#squares div:first-child{
	width: 250px;
	height: 250px;
}


#squares div:nth-child(2){
	width: 350px;
	height: 350px;
	top: 110px;
	left: 110px
}


#squares div:nth-child(3){
	width: 250px;
	height: 250px;
	left: 330px;
	top: 300px;
}

#squares div.flower{
	position: absolute;
	left: 30px;
	top: 30px;
}

.flower img{
	width: 550px;
}

#squares .square .littleSquare{
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #90D0F3;	
}


#squares .square:nth-child(3) .littleSquare{
	bottom: 0px;
}


#quotation{
	position: absolute;
	bottom: 30px;
	left: 0px;
	width: 350px;
	height: 130px;
	color: #FFF;
	font-style: italic;
}

#quotation p{
	padding: 20px;
	font-size: 17px;
}

#quotation cite{
	padding: 20px;
	font-size: 17px;
}

/************************** PORTFOLIO */
#portfolio{
	height: 700px;
	background: linear-gradient(to left, #8FD0F2 68.45%, #595959 31.55%)
}

#portfolio div.flex-container{
	height: 100%;
	width: 1170px;
}

#slider1{
	width: 600px;
	margin-right: 10%;
	margin-top: 10%;
}

.heading{
    margin-left: 7%;
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 15%;
}

.heading h2{
	color: white;
	font-size: 17px;
	transform: rotate(270deg);
}

#portfolio .heading h2:before{	
    content: "";
    width: 150px;
    border-bottom: 2px solid #FFFFFF;
    position: absolute;
    top: 8px;
    right: 350px;  
}

#portfolio .bx-viewport{
	overflow: visible !important;
}

#slider1 .common_btn{
	position: absolute;
	bottom: -100px;
	left: 200px;
	width: 200px;
    background-color: #075072;
    color: #fff;
	padding: 15px 35px;
	border-radius: 25px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

/************************** COOPERATE */
#cooperate{
	height: 700px;
	background: linear-gradient(to right, #595959 68.45%, #8FD0F2 31.55%)
}

#cooperate div.flex-container{
	height: 100%;
	width: 1170px;
}

#cooperate .heading h2:before{	
    content: "";
    width: 150px;
    border-bottom: 2px solid #FFFFFF;
    position: absolute;
    top: 8px;
    right: 350px;  
}

#steps{
	display: flex;
	height: 100%;
	flex-basis: 80%;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-top: 50px;
}

.step{
	flex-basis: 35%;
	height: 35%;
	margin: 10px;
	position: relative;
	z-index: 1;
}

.step img{
	width: 70%;
	border: 5px solid #FFFFFF;
}

.step p{
	color: #FFFFFF;
}

.step .number{
	position: absolute;
	border: 5px solid #2D97BE;
	width: 70px;
	height: 70px;
	font-size: 20px;
	top: -15%;
	right: 15%;
	z-index: -1;
}

.step .number span{
	font-size: 40px;
	font-weight: bold;
	color: #fff;
	position: absolute;
	top: 8px;
	right: 10px;
}

/************************** ADVANTAGES */
#advantages{
	height: 700px;
	background: linear-gradient(to left, #8FD0F2 68.45%, #595959 31.55%)
}

#advantages div.flex-container{
	height: 100%;
	width: 1170px;
}


#block-advantages{
	display: flex;
	height: 100%;
	flex-basis: 78%;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-top: 10%;
}

.advantage{
	flex-basis: 23%;
	height: 80%;
	padding: 10px;
	color: white;
	display: flex;
	flex-direction: column; /* This is to align text inside flex item! */
	justify-content: baseline; /* This is to align text inside flex item! */
	text-align: center; /* This is to align text inside flex item! */
	align-items: center;
}

.advantage:nth-of-type(odd){
	border-top: 12px solid #2C97BD;
	border-left: 12px solid #2C97BD;
}

.advantage:nth-of-type(even){
	padding-top: 12px;
	border-bottom: 12px solid #2C97BD;
	border-right: 12px solid #2C97BD;	
}

.advantage img{
	width: 70%;
	margin-top: 30px;
}

.advantage h3{
	font-size: 13px;
	text-transform: uppercase;
	margin-top: 50px;
}


.advantage p{
	text-align: center;
	margin-top: 30px;
	padding: 10px;
}