* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Cambria;
}

#head{
	background: linear-gradient(90deg, #595959 68.45%, #8FD0F2 31.55%);
}


#head .flex-container{
	background: linear-gradient(90deg, #595959 80%, #8FD0F2 20%);	
}

.flex-container{
	width: 1170px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#top-logo{
	flex-basis: 15%;
	align-content: center;
	height: 80px;
}

#logo{
    width: 70px;
    margin: 20px;
}

/* Style the navigation menu */
.navbar {
	flex-basis: 80%;
	display: flex;
}

/* Navigation links */
.navbar a {
	flex-basis: 25%;
	display: flex;
	flex-direction: column; /* This is to align text inside flex item! */
	justify-content: center; /* This is to align text inside flex item! */
	text-align: center; /* This is to align text inside flex item! */
	color: white;
	text-decoration: none;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 3px solid transparent;
}

.navbar a:hover {
	border-bottom: 3px solid white;
}

/* Style the current/active link */
.navbar a.active {
	border-bottom: 3px solid white;
}

/************************** Sticky sidebar with social media and contacts */

.icon-bar {
    position: fixed;
    right: 0px;
    z-index: 9999;
    padding: 15px;
    opacity: 0.9;
}
  
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.social-item{
	display: block;
	width: 60px;
	height: 60px;
	margin-bottom: 10px;
	border-radius: 50%;
	background-color: #fff;
	background-image: url('../img/css-sprite.png');
	background-repeat: no-repeat;
}

.social-item a{
	display: block;
	width: 100%;
	height: 100%;
}

.email{
	background-position: -359px -6px;
}

.phone {
    background-position: -272px -5px;
}

.instagram {
    background-position: -185px -6px;
}

.viber {
    background-position: -97px -8px;
}

.linkedin {
    background-position: -13px -7px;
}

.facebook {
    background-position: -441px -6px;
}

.email:hover{
	background-position: -359px -84px;
}

.phone:hover{
	background-position: -272px -83px;
}

.instagram:hover{
	background-position: -185px -84px;
}

.viber:hover{
	background-position: -97px -85px;
}

.linkedin:hover{
	background-position: -13px -85px;
}

.facebook:hover{
	background-position: -441px -83px;
}

/************************** MAIN */
#main{
	height: 800px;
	background: linear-gradient(90deg, #595959 68.45%, #8FD0F2 31.55%);
}

#main .flex-container{
	height: 100%;
	position: relative;
	background: linear-gradient(90deg, #595959 80%, #8FD0F2 20%);
}

#squares{
	width: 50%;
	height: 65%;
	position: absolute;
	left: 20%;
	top: 20%;
}

#squares .square{	
	border: 12px solid #90D0F3;
	position: absolute;
}

#squares div:first-child{
	width: 250px;
	height: 250px;
}


#squares div:nth-child(2){
	width: 350px;
	height: 350px;
	top: 110px;
	left: 110px
}

#squares div:nth-child(3){
	width: 250px;
	height: 250px;
	left: 330px;
	top: 300px;
}

#squares div.flower{
	position: absolute;
	left: 30px;
	top: 30px;
}

.flower img{
	width: 550px;
}

#squares .square .littleSquare{
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #90D0F3;	
}


#squares .square:nth-child(3) .littleSquare{
	bottom: 0px;
}


#quotation{
	position: absolute;
	bottom: 30px;
	left: 0px;
	width: 350px;
	height: 130px;
	color: #FFF;
	font-style: italic;
}

#quotation p{
	padding: 20px;
	font-size: 17px;
}

#quotation cite{
	padding: 20px;
	font-size: 17px;
}

/************************** PORTFOLIO */
#portfolio{
	height: 700px;
	background: linear-gradient(to left, #8FD0F2 70%, #595959 30%)
}

#portfolio div.flex-container{
	height: 100%;
	width: 1170px;
	justify-content: flex-end;
}

#slider1{
	width: 650px;
	margin-right: 20%;
	margin-top: 80px;
}

.heading{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    margin-right: 100px;
}

.heading h2{
	color: white;
	font-size: 25px;
	transform: rotate(270deg);
}

#portfolio .heading h2:before{	
    content: "";
    width: 150px;
    border-bottom: 2px solid #FFFFFF;
    position: absolute;
    top: 50%;
    right: 215%;  
}

#portfolio .bx-viewport{
	overflow: visible !important;
}

#portfolio .bx-viewport {
    height: 480px !important;
}

figure {
  width: 180px;
  height: 54px;
  cursor: pointer;
  perspective: 500px;
  -webkit-perspective: 500px;
  position: absolute;
  bottom: -110px;
  left: 230px;
  transform: scale(0.9);
}

figure div {
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}

figure:hover div {
  transform: rotateX(-90deg);
}

.common_btn {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  border: 5px solid #fff;
  font-family: 'Source Sans Pro',sans-serif;
  line-height: 50px;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

figure div a:nth-child(1) {
  color: #fff;
  transform: translate3d(0, 0, 27px);
  -webkit-transform: translate3d(0, 0, 27px);
}

figure div a:nth-child(2) {
  color: #8FD0F2;
  background: #fff;
  transform: rotateX(90deg) translate3d(0, 0, 27px);
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 27px);
}

.bx-wrapper{
 border-color: #2C97BD;
 box-shadow: none;	
}

.bx-wrapper .bx-caption span {
    font-size: 17px;
    padding: 18px;
}

/************************* ABOUT ME */

#aboutme{
	height: 700px;
	background: linear-gradient(90deg, #595959 68.45%, #8FD0F2 31.55%);
}

#aboutme div.flex-container{
	height: 100%;
	width: 1170px;
	justify-content: flex-end;
	background: linear-gradient(90deg, #595959 80%, #8FD0F2 20%);
}

#aboutme .heading{
	padding-bottom: 60px;
	margin-right: 30px;
}

#aboutme .heading h2:before{	
    content: "";
    width: 150px;
    border-bottom: 2px solid #FFFFFF;
    position: absolute;
    top: 50%;
    right: 200%;  
}

#aboutmeContent{
	align-self: center;
	width: 650px;
	height: 500px;
	border-radius: 10px;
	padding: 10px;
	margin-left: 60px;
	margin-right: 20%;
	color: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.contentItem{
	padding: 10px;
	font-size: 25px;
	flex-basis: 45%;
}

#aboutmeContent ul{
	margin-left: 25px;
}

#aboutmeContent h3{
	margin-bottom: 30px;
	font-size: 30px;
}

#aboutmeContent h4{
	margin-bottom: 10px;
}

div.contentItem:first-child{
	flex-basis: 90%;
}

div.contentItem:nth-child(2){
	margin-left: 50px;
}

/************************** COOPERATE */
#cooperate{
	height: 700px;
	background: linear-gradient(to left, #8FD0F2 70%, #595959 30%)
}

#cooperate div.flex-container{
	height: 100%;
	width: 1170px;
	justify-content: flex-end;
}

#cooperate .heading h2:before{	
    content: "";
    width: 150px;
    border-bottom: 2px solid #FFFFFF;
    position: absolute;
    top: 50%;
    right: 270%;  
}


#slider2{
	width: 650px;
	margin-top: 80px;
	margin-right: 20%;
}

#slider2 img{
	width: 675px;
	height: 487.5px;
}

#cooperate-btn{
	position: relative;
}

#cooperate-btn figure {
  bottom: -40px;
  left: 235px;
}

/************************** ADVANTAGES */
#advantages{
	height: 1100px;
	background: linear-gradient(90deg, #595959 68.45%, #8FD0F2 31.55%);
}

#advantages div.flex-container{
	height: 100%;
	width: 1170px;
	justify-content: flex-end;
	background: linear-gradient(90deg, #595959 80%, #8FD0F2 20%);
}

#block-advantages{
	display: flex;
	height: 100%;
	flex-basis: 74%;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-top: 5%;
	margin-left: 20px;
}

.advantage{
	flex-basis: 26%;
	height: 42%;
	padding: 10px;
	color: white;
	display: flex;
	flex-direction: column; /* This is to align text inside flex item! */
	justify-content: baseline; /* This is to align text inside flex item! */
	text-align: center; /* This is to align text inside flex item! */
	align-items: center;
}

.advantage:nth-of-type(1){	
	border-bottom: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #2C97BD;
	border-left: 12px solid #2C97BD;
}

.advantage:nth-of-type(2){
	padding-top: 12px;
	border-bottom: 12px solid #2C97BD;
	border-right: 12px solid #2C97BD;
	border-top: 12px solid transparent;
	border-left: 12px solid transparent;
	margin-left: 100px;
	margin-right: 35%;
}

.advantage:nth-of-type(3){
	padding-top: 12px;
	border-top: 12px solid #2C97BD;
	border-left: 12px solid #2C97BD;
	border-bottom: 12px solid transparent;
	border-right: 12px solid transparent;
	margin-top: 20px;
}

.advantage:nth-of-type(4){
	padding-bottom: 12px;
	border-bottom: 12px solid #2C97BD;
	border-right: 12px solid #2C97BD;
	border-top: 12px solid transparent;
	border-left: 12px solid transparent;
	margin-top: 20px;
	margin-left: 100px;	
}

.advantage img{
	width: 70%;
	margin-top: 30px;
}

.advantage h3{
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 40px;
}


.advantage p{
	text-align: center;
	margin-top: 15px;
	padding: 15px;
}


/********************* FOOTER */

footer {
	background-color: #7B7B7B;
	color: #FBFBFB;
}

footer .flex-container{
	padding: 30px;
}

.footerItem{
	flex-basis: 30%
}

.footerItem:nth-child(3){
	flex-basis: 35%
}

footer .footerItem h2{
	font-size: 20px;
	margin-bottom: 20px;
}

footer .footerItem ul{
	list-style: none;
	font-size: 20px;
}

footer .footerItem span{
	margin-bottom: 20px;
}

/*********************** Search */

.search {
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.searchTerm {
  width: 100%;
  padding: 10px;
  height: 40px;
  border: none;
  outline: none;
  color: #595959;
  font-size: 15px;
}

.searchTerm:focus{
  color: #595959;
}

.searchButton {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background: #fff;
  text-align: center;
  color: #595959;
  cursor: pointer;
  font-size: 20px;
}

.fa {    
    font-size: 23px;
}